*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #777;
}
.container
{
    min-width: 300px;
    min-height: 400px;
    position: relative;
    margin-right: 10rem;
    background: #333;
    padding: 50px 30px 30px;
    border-radius: 20px;
    box-shadow: inset -5px -5px 15px rgba(0,0,0,0.5),
                inset 5px 5px 15px rgba(0,0,0,0.5);
}
.calculator
{
    position: relative;
    display: grid;
}
.calculator .value
{
    position: relative;
    grid-column: span 4;
    height: 60px;
    width: 100%;
    border-top: none;
    background: #a7af7c;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 6px;
    font-size: 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.calculator .equat
{
    position: relative;
    grid-column: span 4;
    border-bottom: none;
    height: 40px;
    width: 100%;
    background: #a7af7c;
    text-align: right;
    padding-right: 4px;
    font-size: 1.1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.calculator .value:focus
{
    outline: none;
}
.calculator .equat:focus
{
    outline:none;
}

.calculator span
{
    position: relative;
    display: grid;
    place-items: center;
    width: 80px;
    height: 80px;
    margin: 8px;
    background: linear-gradient(180deg,#2f2f2f,#3f3f3f);
    box-shadow: inset -8px 0 8px rgba(0,0,0,0.15),
                inset 0 -8px 8px rgba(0,0,0,0.25),
                0 0 0 2px rgba(0,0,0,0.75),
                10px 20px 25px rgba(0,0,0,0.4);
    color: #ffff;
    user-select: none;
    cursor: pointer;
    font-weight: 400;    
    border-radius: 10px;
    z-index: 10000;
}
.calculator span::before
{
    content: '';    
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg,#2d2d2d,#4d4d4d);
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(0,0,0,0.1),
                10px 5px 10px rgba(0,0,0,0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
}
.calculator span:active
{
    filter: brightness(1.5);
}
.calculator span i
{
    position: relative;
    font-size: 1.5em;
    font-style: normal;
    text-transform: uppercase;    
}
.calculator .clear
{
    width: 80px;
    background: #f00;
} 
.calculator .clear::before
{
    background: linear-gradient(90deg, #d20000,#ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
}
.calculator .equal
{
    background: #2196f3;
}
.calculator .equal::before
{
    background: linear-gradient(90deg, #1479c9,#ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
}

.history
{
    background-color: #333;
    position: absolute;
    top: 5%;
    left: 13%;
    width: 445px;
    height: 670px;
    transform: translateX(60%);
    border-radius: 15px;
    display: none;
    transition: 0.4s ease;
    overflow-y: auto;
}
.btn-close,
.btn-remove
{
    display: block;
    padding: 0.8rem;
    text-align: right;
    font-size: 1.1rem;
    color: #777;
    cursor: pointer;
    transition: 0.4s ease;
}
.history-div
{
    padding: 10px;
    color: #9999;
    text-align: right;
    padding: 1rem;
    line-height: 30px;
    letter-spacing: 2px;
}
.history-header
{
    display: flex;
    justify-content: space-between;
}
.history-header h2
{
    padding: 0.5rem;
    color:#777777;
    font-size: 1.7rem;
    margin-left: 1rem;
    text-decoration: underline;
}
.section
{
    border-bottom: 1px solid #777;
    padding-bottom: 1rem;
}

/* media queries */

@media only screen and (max-width: 480px) {
    body
    {
        min-height: 70vh;
    }
    .container
    {
        margin: 1rem 5rem;
        min-width: 400px;
    }
    .calculator span
    {
        width: 70px;
        height: 70px;
        margin: 8px;
    }
    .calculator .clear
    {
        width: 70px;
    }
    .history
    {
        margin: 1rem 2rem;  
        min-width: 200px;     
        width: 400px;
        height: 620px;
        position: absolute;
        top:0;
        left: -62%;
    }
  }